extends layout 
block content
    .Grid
            form#success(action=var1 method='get')
                img#photo3.photo(src=var2 width='250' )
                h2 #{var3}
                br
                input#goSearch(type='submit', value=var4 style=' font-weight: bold; cursor: pointer;')



