<!DOCTYPE html>
<html lang="en">
   
    <link rel="stylesheet" href="">
        <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="JStest.js"></script>
    <title>test html</title>
</head>
<body>
    <div class="Grid1">
       
    <nav class="navv">
        <ul>
            <li><a href="../">main</a></li>
            <li><a href="../view/Login.html">login</a></li>
        </ul>
    </nav>
    <h1 id="heder1">hello bob</h1>
    <div class="list"> 
        
        <h1 id="change"> mamamamam   </h1>
        <button onclick="document.getElementById('change').innerHTML = Date()">The time
            is?</button>
            
      <ol>
        <li>shiran</li>
        <li>shahar</li>
    </ol>

    
    <ul>
        <li>shiran</li>
        <li>shahar</li>
    </ul>  
  
        <a href="../view/Register.html">click here!</a> <br>
<br>
 </div>

<form class="form">
       <label for="name1">Name</label>
    <input type="text" placeholder="enter youre name" name="name1" required><br>
    <label for="pas">password</label>
    <input name="pas" type="password" placeholder="enter your password" required><br>
    
    <label for="email">Email</label>
    <input type="email" name="email" required><br>
     <label name="check">NEW?</label>
     <input name="check" type="checkbox"><br>
    <button type="submit">ok!</button>
   
    </form>
 
</body>
</div>
</html>